[Unit]
Description=ovhbakup DockerCompose service
Before=
After=docker.service network.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=0
TimeoutSec=300
WorkingDirectory=//srv/docker/ovh-backup
ExecStartPre=/usr/bin/env docker-compose config
ExecStart=/usr/bin/env    docker-compose up
ExecStop=/usr/bin/env     docker-compose config
ExecStop=/usr/bin/env     docker-compose stop
ExecStopPost=/usr/bin/env docker-compose config
ExecStopPost=/usr/bin/env docker-compose down

[Install]
WantedBy=multi-user.target
# vim: set ft=systemd:
